$gutter: 5px;
$color-blue: rgb(39, 159, 191);
$color-grey: rgb(92, 92, 92);
$color-red: rgb(224, 88, 76);
$color-green: rgb(143, 190, 13);
$color-orange: rgb(255, 120, 21);
$opacity-link: .85;
$font-bold: 500; 
$font-normal: 300;
$color-grey85: rgba(92, 92, 92, .85);
$color-grey50: rgba(92, 92, 92, .5);
$color-grey10: rgba(92, 92, 92, .1);
$color-grey25: rgba(92, 92, 92, .25);
$color-green85: rgba(143, 190, 13, .85);
$color-green50: rgba(143, 190, 13, .5);
$color-green10: rgba(143, 190, 13, .10);
$color-blue85: rgba(39, 159, 191, .85);
$color-blue50: rgba(39, 159, 191, .5);
$color-blue10: rgba(39, 159, 191, .10);
$color-red85: rgba(224, 88, 76, .85);
$color-red50: rgba(224, 88, 76, .5);
$color-orange85: rgba(255, 120, 21, .85);
$color-orange50: rgba(255, 120, 21, .5);
$color-orange10: rgba(255, 120, 21, .1);